<html>
<head><title>{{title}}</title></head>
<body>
  <h1>{{message}}</h1>

  <h2>Lab 01 - Duaa Fourah, Lara Plagens, Zehra Ilgin</h2>

  <h3>1. Project Ideas</h3>
  <h4>Book App</h4>
  <ul>
    <li>As a user, I can look up books and add them to my list</li>
    <li>As a user, I can create Lists so that I can categorize my bookshelves</li>
    <li>As a user, I can edit/update my shelves and current reading progress</li>
    <li>As a user, I can delete books that I don't want in my shelves anymore</li>
    <li>As a user, I can log in so that my data is saved</li>
    <li>As a logged in user, I can find friends and chat with them</li>
    <li>As a logged in user, I can give ratings and leave reviews</li>
    <li>As a logged in user, I can receive notifications from other users</li>
  </ul>

</body>
</html>

